.Search form {
  text-align: center;
}

.Search .search {
  border-radius: 7px;
  padding: 7px;
  font-size: 18px;
  margin-right: 3px;
  background-color: #ca972b;
  border: 3px solid black;
  transition: all 250ms ease-in-out;
  font-family: "Spectral", serif;
}

.Search .search:hover {
  background-color: #125f31;
  color: black;
}

.Search .search::placeholder {
  color: rgb(0, 0, 0);
}

.Search .submit {
  border-radius: 7px;
  padding: 7px 10px;
  font-size: 18px;
  color: black;
  background-color: #ca972b;
  border: 3px solid black;
  transition: all 250ms ease-in-out;
  font-weight: bold;
  font-family: "Spectral", serif;
}

.Search .submit:hover {
  background-color: #2d3a66;
  color: black;
}
